body{
  font-family: 'Bebas Neue', cursive;
}

ul {
  list-style-type: none;
}
.navbar{
  background-color: black;
}

.nav-link{
  margin: 2rem;
  font-size: 1.2em;
  color: white;
}

.nav-link:hover{
 color: #AA4A44;
}

.navbar-brand{
margin-left: 1rem;
color: white;
}

.navbar-brand:hover{
  color:#AA4A44;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.icon-container li {
  float: left;

}

.cart{
  display: none;
  background-color: white;
  border: 2px solid #AA4A44;
  float: right;
  width: 20%;
  height: 1000px;
  z-index: 1;
  position: absolute;
  right: 0%;
  box-shadow: 2px  black;
}

.cart-header {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
/* cart items */
.cart-items {
  max-height: calc(100vh - 247px);
  overflow-y: auto;
  overflow-x: hidden;
}
/* cart item */
.cart-item {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.cart-item div {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* item info */
.cart-item .item-info {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.6);

  border-radius: 0 10px 10px 0;

  padding: 10px;
}
.cart-item .item-info:hover {
  background-color: rgba(255, 0, 0, 0.6);
  cursor: pointer;
}
.cart-item .item-info img {
  width: 75px;
}
/* unit price */
.cart-item .unit-price {
  flex: 1;
  font-size: 1.2rem;
}
/* units */
.cart-item .units {
  flex: 1;
}
.cart-item .units .number {
  margin: 0 10px;

  font-size: 1.2rem;
}
.cart-item .units .btn {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 10%;
  border-color:  black;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
}

/* cart footer */
.cart-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.cart-footer div {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px 0;

  font-size: 1.3rem;
}
.cart-footer .subtotal {
  background-color: white;
}
.cart-footer .checkout {
  background-color: rgb(242, 255, 58);

  cursor: pointer;
}


.section1{
  height: 100vh;
  background-color: white;

}

.products-list {
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

/* PRODUCTS */
.products {
  height: 100%;
  width: 75%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, 3fr);
}
.products img {
  width: 200px;
  /* filter: drop-shadow(30px 10px 4px #ddd); */
}
.products .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.products .item .item-container {
  width: 250px;
  height: 90%;
  background-color: #000;



  position: relative;
}
.products .item .item-container .item-img {
  width: 100%;
  height: 60%;

  background-color: white;

  border: 1px solid #000;


  display: flex;
  justify-content: center;
  align-items: center;
}
.products .item .item-container .desc {
  width: 100%;
  color: #fff;

  padding: 10px;
}

.products .item .item-container .add-to-cart {



  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 10px;
  right: 10px;

  padding: 5px;

  border-radius: 50%;

  cursor: pointer;
}
.products .item .item-container .add-to-wishlist {
  background-color: rgba(255, 21, 21, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 10px;
  right: 60px;

  padding: 5px;

  border-radius: 50%;

  cursor: pointer;
}
.products .item .item-container .add-to-cart img {
  width: 32px;
  height: 32px;
}
.products .item .item-container .add-to-wishlist img {
  width: 32px;
  height: 32px;

  padding: 5px;
}



.container-heading-products{
width: auto;
justify-content: center;
display: flex;


}




.container-heading-products h1{
  margin-left: 36rem;
  margin-top: 5rem;
  width: 100%;


}
